32-point-FFT-Verilog-design-based-DIT-butterfly-algorithm/
Design-and-ASIC-Implementation-of-32-Point-FFT-Processor/
butterfly_edited_old/
Butterfly_test_old/
coverage_2001/
versatile_fft/
RS5_backup/


RS5/debug
RS5/transcript
RS5/vsim*
RS5/work
RS5/xcelium*
RS5/RS5/xrun.*
RS5/proto/**/*.sim/**
RS5/proto/**/*.runs/**
RS5/proto/**/*.cache/**
RS5/proto/**/*.gen/**
RS5/proto/**/*.ip_user_files/**
RS5/synthesis/**

butterfly_edited_old/
Butterfly_test_old/
coverage_2001/
versatile_fft/
RS5_backup/

32-point-FFT-Verilog-design-based-DIT-butterfly-algorithm/FPGA/.Xil/*
32-point-FFT-Verilog-design-based-DIT-butterfly-algorithm/FPGA/fft_dev/*
32-point-FFT-Verilog-design-based-DIT-butterfly-algorithm/FPGA/*.jou
32-point-FFT-Verilog-design-based-DIT-butterfly-algorithm/FPGA/*.log
32-point-FFT-Verilog-design-based-DIT-butterfly-algorithm/FPGA/*.str

*.d
*.o
Vtb_wrapper*
*.txt
*.vcd
*.cache
*.hw
*.runs
*.sdb
sim/debug/**
*.cnt
*.hex
*.lst
*.map
*.sec
*.axf
*.bin
sim/obj_dir
*.lst
*.bin
*.elf
*.history
*.jou
*.key
*.log
*.str
*.tmp
*.coe
*.xcix
**/.Xil
*.fst
*.dcp
.vscode
